{% extends 'inventory/base.html' %}


{% block content %}
<div ALIGN='center'>
{% if form.instance.pk is None %}
{% if form.code.label %}
<h4 style="padding: 10px;">Add Sub Category:</h4>
{% else %}
<h4 style="padding: 10px;">Add Main Category:</h4>
{% endif %}
{% else %}
{% if form.code.label %}
<h4 style="padding: 10px;">Edit Sub Category:</h4>
{% else %}
<h4 style="padding: 10px;">Edit Main Category:</h4>
{% endif %}
{% endif %}
</div>
<div class="category-form">
<form method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-success">Submit</button>
{% if form.instance.pk %}
{% if form.code.label %}
<a href="{% url 'remove_check_category' pk=form.instance.pk %}" class="btn btn-danger" style="float: right;">Delete</a>
{% endif %}
{% endif %}
</form>

</div>

{% endblock %}