{% extends 'inventory/base.html' %}


{% block content %}

{% if form.instance.pk is None %}
{% if form.code.label %}
<h4 style="padding: 10px;">Add Sub Category:</h4>
{% else %}
<h4 style="padding: 10px;">Add Main Category:</h4>
{% endif %}
{% else %}
{% if form.code.label %}
<h4 style="padding: 10px;">Edit Sub Category:</h4>
{% else %}
<h4 style="padding: 10px;">Edit Main Category:</h4>
{% endif %}
{% endif %}
<p>{{ form.code.label }}</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="float: left;" class="save btn btn-success">Submit</button>
</form>

{% endblock %}