{% extends 'inventory/base.html' %}

{% block content %}

<p style="text-align: center; padding: 30px;">Welcome to Supermart inventory site</p>

{% if user.is_authenticated %}
<div class="container" style="width: 50%;">
  <div class="row" style="border: rgb(185, 185, 185) solid;">
    <div class="col-sm" style="text-align: center; ">
      <br>
      <h4>Revenue:</h4>
      <p>&#8377 {{ revenue }}</p>
    </div>
    <div class="col-sm" style="text-align: center;">
      <br>
      <h4>Expenditure:</h4>
      <p>&#8377 {{ spent }}</p>
    </div>
  </div>
  <p ALIGN='center'>*data is for the current week</p>
  <div class="row">
  <div style="border: rgb(185, 185, 185) solid; padding: 30px;">
    <h5>Products currently out of stock:</h5>
    {{ products }}
  </div>
  </div>  
</div>
{% endif %}
<style>
    #one {
  background-color: #04AA6D;
  color: white;
}
</style>    
{% endblock %}
