{% extends 'inventory/base.html' %}


{% block content %}

<!-- <ol>
{% for category in categories %}

  <li>{{ category }}</li>
  <ul>
  {% for type in typelist %} 
  {% if type.category == category %}
  <li>{{ type }}</li>
  {% endif %}
  {% endfor %}
  </ul>
  {% endfor %}
</ol> -->
<style>
    .subtable tr:nth-child(even) {
  background-color: #eee;
}
</style>

<table class="table table-bordered cart-table">
    <p>Click on any field to edit</p>
    <tr>
        <th>Main Category</th>
        <th>Sub Category</th>
    </tr>
    {% for category in categories %}
    <tr>
        <td><a href="{%url 'edit_main_category' pk=category.pk %}" style="text-decoration: none; color: black;">{{ category }}</a></td>
        <td>
            <table class="table table-bordered table-striped subtable">
            {% for type in typelist %}
            {% if type.category == category %}
            <tr>
                <td><a href="{%url 'edit_sub_category' pk=type.pk %}" style="text-decoration: none; color: black;">{{ type }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
<div ALIGN='center'>
    <a href="{%url 'add_main_category' %}" class="btn btn-success">Add Main category</a>
    <a href="{%url 'add_sub_category' %}" class="btn btn-success">Add Sub category</a>
</div>




{% comment %}
<h4 style="padding: 10px;">Add:</h4>
<div ALIGN='center'>
  <a href="#" class="btn btn-success">Add Main category</a>
  <a href="#" class="btn btn-success">Edit Item</a>
  <a href="#" class="btn btn-success">Delete Item</a>
</div>
{% endcomment %}


    
{% endblock %}