{% extends 'inventory/base.html' %}
{% load mathfilters %}

{% block content %}

<h2>Cart:</h2>
<table class="table table-bordered cart-table">
    <tr>
        <th>Name</th>
        <th>Units</th>
        <th>Price(per-unit)</th>
        <th>Total Price</th>
    </tr>
    {% for name, unit, price in product %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ unit }}</td>
        <td>{{ price }}</td>
        <td>{{ price|mul:unit }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="3" style="text-align: right;">Grand Total:</th>
        <td>{{ total }}</td>
    </tr>
</table>
    <a href="{%url 'history_list' %}" class="btn btn-success">Go back</a>


<!-- <ul>
{% for name, unit, price in product %}
    <li>
        {{ name }}
        {{ unit }}
        {{ price }}
    </li>
{% endfor %}
</ul> -->
{% endblock %}