{% extends 'inventory/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}


<!-- </div> -->
<style>
    #product {
  background-color: #04AA6D;
  color: white;
}
</style>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

</style>

<div>
<div class="sidebar">
  <a href="{%url 'stock_list' %}">All</a>
  {% for category in categories %}
  <p></p>
  <button class="dropdown-btn">{{ category }}
  </button>
  <div class="dropdown-container">
  {% for type in typelist %} 
  {% if type.category == category %}
  <a href="{% url 'stock_list' type=type.code %}">{{ type }}</a>
  {% endif %}
  {% endfor %}
  </div>
  {% endfor %}
  <hr class="solid" style="color: white;">
  <button class="dropdown-btn">Manage
  </button>
  <div class="dropdown-container">
  <a href="{% url 'manage_category' %}">Manage Categories</a>
  <a href="{% url 'new_item_add' %}">Add New Product</a>
  <a href="{% url 'stock_list' type=type bool_int=1 %}">Recycle Bin</a>
  </div>
</div>
<!-- <a href="{% url 'manage_category' %}" class="btn btn-secondary" style="position: absolute; bottom: 0; float: left;">Manage Categories</a> -->
</div>

<div class="content">
  <h4 style="float: left;">Items:</h4>
  <!-- <a href="{% url 'stock_list' type=type bool_int=1 %}" class="btn btn-secondary" style="float: right;">Bin</a>
  <a href="{% url 'new_item_add' %}" class="btn btn-success" style="float: right; margin-right: 4px;">Add New Product</a> -->
  {% render_table stock_table %}
</div>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
{% endblock %}