{% extends 'inventory/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}

<h4 style="float: left;">Items:</h4>
<a href="{% url 'stock_list' type=type bool_int=1 %}" class="btn btn-secondary" style="float: right;">Bin</a>
{% render_table stock_table %}



{% if type == 'fr' or type == 'gr' or type == 'dr' or type == 'cn' %}
<style>
    #three {
  background-color: #04AA6D;
  color: white;
}
</style>
{% elif type == 'sn' or type == 'bv' %}
<style>
    #four {
  background-color: #04AA6D;
  color: white;
}
</style>
{% else %}
<style>
    #five {
  background-color: #04AA6D;
  color: white;
}
</style>
{% endif %}


{% endblock %}