{% extends 'inventory/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}

<h4 style="float: left;">Suppliers:</h4>
<form action="{% url 'supplier_list' %}" method="get" class="search" style="float: right;">
        <input name="q" type="text" placeholder="Search...">
  </form>
{% render_table supplier_table %}
<div class="bottom-left-button">
  <a href="{% url 'add_supplier' %}" class="btn btn-success">Add Supplier</a>
  <a href="{% url 'supply_history' %}" class="btn btn-secondary">Supply History</a>
</div>

<style>
    #supplier {
  background-color: #04AA6D;
  color: white;
}
</style>


{% endblock %}