.page-header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
  background-color: #f1f1f1;
    display: flex;
     position: sticky;
    flex-grow: 1;
  top: 0
}

/* .header-nav li {
  float: left;
} */

.header-nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: smaller;
  font-weight:500;
  letter-spacing: 1px;
}

/* Change the link and background color on hover */
.header-nav a:hover, .stock-list:hover .dropbtn {
  background-color: #555555;
  color: white;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.stock-list {
  float: left;
  overflow: hidden;
}

.stock-list .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-size: smaller;
  font-weight: 500;
  letter-spacing: 1px;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.stock-list:hover .dropdown-content {
    opacity: 1;
  display: block;
}

#six {
  float: right;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 10px;
}

.grid-container div {
  background-color: #f1f1f1;
  border: 1px transparent;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  
}

.login {
  
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50px);
  transform: translate(-50%, -50px);
}

.inventory-table a {
  text-decoration: none;
  color: black;
}

.add-to-cart{
  padding-bottom: 5px;
  text-align: center;
  display: block;
}

.grand-total {
  padding: 10px;
  /* border: 1px solid rgb(212, 212, 212); */
  text-align:center;
}

.grand-total p {
  margin: auto;
  padding: 0;
  text-decoration: underline;
  font-size: larger;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-table{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.cart-table th{
  background-color: #f2f2f2;
}

/* .wrapper{
  margin: 0;
  padding: 0;
  display: flex;
  left: 0px;
  right: 0px;
  position: absolute;
  height: 77vh;
  flex-direction: row;
  overflow: hidden;
  min-height: 0;
  
}

.stock-table{
  margin: 0;
  padding: 0;
  flex-grow: 1;
  min-height: 0;
}
.stock-nav{
  width: 200px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-color: #555555;
  color: white;
  min-height: 0;
}



.stock-nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  overflow: hidden;
  min-height: 0;
}

.stock-nav li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}


.stock-nav li a:hover {
  background-color: #f1f1f1;
  color: #555555;

} */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:  #555;
  position: sticky;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  float: left;
}
.dropdown-btn{
  text-align: left;
}
.sidebar a, .dropdown-btn {
  border: none;
  background: none;
  width: 200px;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.active {
  background-color: #04AA6D;
  color: black;
}

.sidebar a:hover:not(.active), .dropdown-btn:hover {
  background-color: #f1f1f1;
  color: black;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 70vh;
}

.dropdown-container {
  background-color: #424242;
  display: none;
  padding-left: 6px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}



@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

div {
  margin: 0;
  padding: 0;
}